@import '../../styles/variables';

.data{
    margin-top: 40px;

    @media screen and (max-width: $mediaWidth) {
        padding: 10px 0px;
    }

    @media screen and (min-width: $mediaWidth) {
        padding: 50px 0px;
    }
    
    
    .dataWrapper {
        .dataTotals, .dataGW, .dataMove {
            padding: 10px;
            margin-bottom: 20px;
            font-size: 20px;

            border: 4px solid transparent;
            border-radius: 10px;
            border-image-slice: 1;
            background: 
                linear-gradient(to right, white, white), 
                linear-gradient(to right bottom, $main_blue, $main_black); 
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        @media screen and (max-width: $mediaWidth) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: $mediaWidth) {
            display: flex;
            justify-content: space-evenly;              

            p {
                display: flex;
                justify-content: space-between;
            }
        }
    }

}